{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">{{ status_code }}</h1>
    <p class="lead">
        {{ status_text }}
    </p>
    <h3><a href="http://fbi.gov">FBI</a></h3>
{% endblock %}

