{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
    <h1 class="text-danger">{{ status_code }}</h1>
    <p class="lead text-center">
        {{ status_text }}
    </p>
        <code>=;(</code>
    </div>
{% endblock %}

