{% block footer %}
    <footer class="footer">
        <div class="container text-center text-muted">
            <div class="pull-left">&copy; 2005 - {{ "now"|date("Y") }} MiniCC KuKu - Atacames</div>
            {% if app.user and app.user.role == 'ROLE_ADMIN' %}
                v {{ sha[:7] }}
            {% endif %}
            <p class="pull-right">Made with <a href="https://symfony.com">Symfony</a></p>
        </div>
    </footer>
{% endblock %}
