<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="{{ path('welcome') }}">
                MiniCC KuKu
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>

                {% if app.user and app.user.role == 'ROLE_ADMIN' %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('pay-day') }}">Pay Day</a></li>
                            <li><a href="{{ path('cobrar') }}">Cobrar Alquileres</a></li>
                            <li><a href="{{ path('admin-tasks') }}">Tasks</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">etc</li>
                            <li><a href="{{ path('pagos-por-ano') }}">Pagos por Año</a></li>
                            <li><a href="{{ path('transaction-rawlist') }}">Transactions RAW</a></li>
                            <li><a href="{{ path('deposits') }}">Depositos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Setup <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('stores-list') }}">Locales</a></li>
                            <li><a href="{{ path('users-list') }}">Inquilinos</a></li>
                            <li><a href="{{ path('contract-list') }}">Contratos</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Params</li>
                            <li><a href="{{ path('payment-methods') }}">Payment Methods</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">/etc</li>
                            <li><a href="{{ path('sysinfo') }}">System Info</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i>
                            {{ app.user.username }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('logout') }}"><i class="fa fa-btn fa-sign-out"></i>Salir</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

