<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MiniCC KuKu{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/minicc.css') }}"/>

    {% block stylesheets %}{% endblock %}

</head>
<body id="app-layout">

{% include('_menu.html.twig') %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include ('_flash-messages.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% include ('_footer.html.twig') %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>
