{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Cobrar alquileres{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}

{% block body %}
    <h3>Cobrar Alquileres</h3>
    {% if stores is empty %}
        <div class="alert alert-danger">No stores defined</div>
    {% else %}
        <form method="post" action="{{ path('cobrar') }}">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr>
                    <th class="text-center">Local</th>
                    <th>Destino</th>
                    <th>Inquilino</th>
                    <th>Monto</th>
                </tr>

                {% for store in stores %}

                    <tr>
                        <td class="text-center">{{ store.id }}</td>
                        <td>{{ store.destination }}</td>
                        <td>{{ store.user.name|short_name }}</td>
                        <td>
                            <input type="hidden" name="users[{{ store.id }}]"
                                   value="{{ store.user ? store.user.id : 0 }}"/>
                            <input type="text" name="values[{{ store.id }}]" value="{{ store.valAlq|conIva|round(2) }}" size="7"
                                   maxlength="7">
                        </td>
                    </tr>

                {% endfor %}

                <tr>
                    <td>
                        <label for="date_cobro">Fecha de Cobro</label>
                    </td>
                    <td>
                        <input name="date_cobro" id="date_cobro" type="text" class="js-datepicker form-control"
                               required="required"/>
                    </td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-success">A Cobrar...</button>
                    </td>
                </tr>

            </table>
        </form>
    {% endif %}
{% endblock %}
