<form enctype="multipart/form-data" method="post" class="form form-inline"
      action="{{ path('upload-csv') }}">
    <div class="form-group">
    <input name="csv_file" type="file" class="form-control"/>
    <button type="submit" class="btn btn-primary">Upload CSV</button>
    </div>
</form>
