{% extends 'base.html.twig' %}

{% import '_paginator-elements.html.twig' as paginator %}

{% block title %} {{ parent() }} - Depositos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/pagination.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div style="float: right">
        {% include('deposit/_csvupload.html.twig') %}
    </div>

    <h3>Depositos</h3>

    <form method="post">

        <div class="row">
            <div class="col-xs-2">{{ paginator.listLimit(paginatorOptions) }}</div>
            <div class="col-xs-10">{{ paginator.pagination(paginatorOptions) }}</div>
        </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th>{{ paginator.ordering('id', paginatorOptions) }} Id</th>
                <th>Tr Id</th>
                <th>{{ paginator.ordering('date', paginatorOptions) }}
                    Fecha<br/>
                    <div class="text-right">
                    From {{ paginator.date('date_from', paginatorOptions) }}
                        <br/>
                    To {{ paginator.date('date_to', paginatorOptions) }}
                        <br />
                    </div>
                </th>
                <th>Entity</th>
                <th>{{ paginator.ordering('document', paginatorOptions) }}
                    Document<br/>
                    {{ paginator.criteria('document', paginatorOptions) }}
                </th>
                <th>Amount<br/>
                    {{ paginator.criteria('amount', paginatorOptions) }}
                </th>
                <th>Action</th>
            </tr>
            {% for d in deposits %}
                {% set deposit = d[0] %}
                <tr>
                    <td>{{ deposit.id }}</td>
                    <td>{{ d['tr_id'] }}</td>
                    <td>{{ deposit.date|date('Y-m-d') }}</td>
                    <td>{{ deposit.entity.name }}</td>
                    <td>{{ deposit.document }}</td>
                    <td>{{ deposit.amount }}</td>
                    <td>
                        <a href="{{ path('payment-methods-delete', {'id': deposit.id}) }}">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="alert-warning text-center">No hay depositos que mostrar!</td>
                </tr>
            {% endfor %}
        </table>

        {{ paginator.formFields(paginatorOptions) }}

    </form>

{% endblock %}
