html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 70px;
    margin-bottom: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    padding-top: 5px;
}

.amount {
    font-family: monospace;
}

.amount-red {
    color: #bb331c;
}

.table-bordered tbody th.cell-active {
    border: 2px solid #2e6da4;
}

pre.console {
    color: lime;
    background-color: #0f0f0f;
}

.table-condensed0 > tbody > tr > td {
    padding: 0;
}

.tableHover {
    background-color: #eee;
}