{% extends 'base.html.twig' %}

{% import '_paginator-elements.html.twig' as paginator %}

{% block title %} {{ parent() }} - Edit Transaction{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block body %}

    <h3>RAW List Transactions</h3>

    <form method="post">

        <div class="row">
            <div class="col-xs-2">{{ paginator.listLimit(paginatorOptions) }}</div>
            <div class="col-xs-10">{{ paginator.pagination(paginatorOptions) }}</div>
        </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th>{{ paginator.ordering('id', paginatorOptions) }} Id</th>
                <th{{ paginatorOptions.searchCriteria('store') ? ' class="cell-active"' : '' }}>
                    Local
                    <select name="paginatorOptions[criteria][store]" onchange="paginator.resetAndSubmit($(this));" class="form-control">
                        <option value="0">...</option>
                        {% for store in stores %}
                            <option value="{{ store.id }}"
                                    {{ paginatorOptions.searchCriteria('store') == store.id ? ' selected="selected"' : '' }}>
                                {{ store.id }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th{{ paginatorOptions.searchCriteria('date_from') or paginatorOptions.searchCriteria('date_to') ? ' class="cell-active"' : '' }}>
                    {{ paginator.ordering('date', paginatorOptions) }} Fecha<br />
                    <div class="text-right">
                        From {{ paginator.date('date_from', paginatorOptions) }}
                        <br/>
                        To {{ paginator.date('date_to', paginatorOptions) }}
                        <br /><!-- don't remove.. -->
                    </div>

                </th>
                <th{{ paginatorOptions.searchCriteria('type') ? ' class="cell-active"' : '' }}>
                    Type
                    <select name="paginatorOptions[criteria][type]" onchange="paginator.resetAndSubmit($(this));" class="form-control">
                        <option value="0">...</option>
                        {% for type in transactionTypes %}
                            <option value="{{ type.id }}"
                                    {{ paginatorOptions.searchCriteria('type') == type.id ? ' selected="selected"' : '' }}>
                                {{ type.name }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th{{ paginatorOptions.searchCriteria('amount') ? ' class="cell-active"' : '' }}>
                    Monto<br />
                    {{ paginator.criteria('amount', paginatorOptions) }}
                </th>
                <th>Action</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.store.id }}</td>
                    <td>{{ intlDate(transaction.date) }}</td>
                    <td>{{ transaction.type.name }}</td>
                    <td class="text-right">{{ transaction.amount }}</td>
                    <td>
                        <a href="{{ path('transaction-edit', {'id': transaction.id, 'view': 'transaction-rawlist'}) }}">Edit</a>
                        <a href="{{ path('transaction-delete', {'id': transaction.id, 'view': 'transaction-rawlist'}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {{ paginator.formFields(paginatorOptions) }}

    </form>

{% endblock %}
