<p>Local No.: [local_no]</p>
<p style="text-align: justify;">Consta por el presente documento que se otorga por triplicado, el Contrato de Arrendamiento contenido en las siguientes clausulas:<br /><br />PRIMERA: <strong>Comparecientes</strong>.- Comparecen por una parte el Señor Nikolai Plath al que en adelante se lo podrá designar como “El Arrendador”, por otra parte [el_la] [senor_a] [inq_nombreapellido] quien en adelante se lo podrá designar como “El Arrendatario”.<br /><br />SEGUNDA: <strong>Antecedentes</strong>.- Nikolai Plath es propietario de un inmueble compuesto de hormigón ubicado en la ciudad de Atacames el mismo que es objeto del presente Contrato de Arrendamiento.<br /><br />TERCERA: <strong>Materia</strong>.- Con tales antecedentes el Señor Nikolai Plath da en arrendamiento a favor [del_la] [senor_a] [inq_nombreapellido] de que trata la cláusula anterior y el Señor Nikolai Plath acepta el contrato.<br /><br />CUARTA: <strong>Destinación del local</strong>.- El local en arriendo sólo podrá destinarse a [destination]. Prohíbase destinarlo a la preparación y venta de alimentos o cualquier otro objeto que no sea el expresamente determinado en esta cláusula. Prohíbase también la introducción de materiales inflamables, bultos pesados u otros artículos o substancias que pueden poner en peligro la seguridad del inmueble.<br /><br />QUINTA: <strong>Precio</strong>.- El precio del arrendamiento se lo fija en la suma de $[val_alq] mensuales + IVA, pagaderos por adelantado, dentro de los cinco primeros días de cada mes.<br />El único comprobante de pago será la factura suscrita por el arrendador o su apoderado.<br />El inquilino tiene pagado en deposito o garantía $[val_garantia] ([txt_garantia]) los cuales se quedan en garantía por si surgiera alguna anomalía o destrucción en el local.<br /><br />CLÁUSULA ÚNICA: El arrendatario [senor_a] [inq_nombreapellido] acepta el precio, canon o pensión del arriendo estipulado mutuamente por las partes contratantes, y por lo tanto renuncia al derecho sobre la fijación del precio del arrendamiento del local arrendado por parte de la oficina de registro de inquilinato de la municipalidad de Atacames sea ese mayor o menor del estipulado en este contrato y ademas cualquier otra ley u ordenanza que pudiera expedirse sobre el precio o renta de los arrendamientos de predios urbanos.<br /><br />SEXTA: <strong>Plazo</strong>.- El plazo de duración de este contrato será de un año forzoso para ambas partes, contando desde la fecha de la firma de este contrato, pero si 90 días antes del vencimiento del plazo, ninguna de las partes notifica a la otra judicialmente su voluntad de no renovar el contrato, éste se entenderá renovado por un período igual y así sucesivamente.<br /><br />SÉPTIMA: <strong>Estado del local, mejoras y otros gastos</strong>.- El arrendatario declara que recibe en perfectas condiciones el Local No. [local_no] con los siguientes accesorios:</p>
<p style="text-align: justify;"><strong>Accesorios</strong></p>
<table border="0" width="100%">
    <tbody>
    <tr>
        <td width="10">[cnt_lanfort]</td>
        <td>Puertas lanfort</td>
        <td width="10">[cnt_toma]</td>
        <td>Toma corrientes</td>
        <td width="10">[cnt_med_agua]</td>
        <td>Medidores de agua<br /> <strong>Numero</strong>: [med_agua]</td>
    </tr>
    <tr>
        <td width="10">[cnt_neon]</td>
        <td>Lamparas de neón</td>
        <td width="10">[cnt_ventana]</td>
        <td>Ventanas</td>
        <td width="10">[cnt_med_elec]</td>
        <td width="100mm">Medidor eléctricos<br /> <strong>Referencia</strong>: [med_electrico]</td>
    </tr>
    <tr>
        <td width="10">[cnt_switch]</td>
        <td>Interruptores</td>
        <td width="10">[cnt_llaves]</td>
        <td>Llaves</td>
        <td width="10"> </td>
        <td> </td>
    </tr>
    </tbody>
</table>
<p style="text-align: justify;">El arrendatario, en caso de perdida, rotura o deterioro de cualquiera de los accesorios señalados, se compromete a reemplazarlos con otro de igual clase y calidad, o en su caso, deberá pagar al arrendador, de contado y a satisfacción de este el valor que tendrá en ese momento en el mercado del Ecuador. El arrendatario se obliga a devolver al arrendador el local arrendado en el mismo buen estado en que lo recibió, salvo el deterioro producido por su uso natural. El arrendatario no podrá hacer modificaciones sin el expreso consentimiento escrito del arrendador, pero cualquier mejora que efectuase, de la naturaleza que esta fuera, quedará a beneficio del propietario del inmueble sin costo alguno para este ultimo. Ademas el arrendatario declara que las mejoras locativas, de acuerdo con el código civil, serán de su exclusiva cuenta.<br /><br />OCTAVA: Queda terminantemente prohibido al arrendatario hacer mejoras en el inmueble, pintar letreros en las fachadas, cambiar el color de la pintura ni en la fachada ni en los interiores sin el consentimiento escrito del arrendador.<br /><br />NOVENA: <strong>Subarrendamiento</strong>.- Prohíbase al arrendatario subarrendar o ceder a cualquier título los derechos que le corresponden por este contrato.<br /><br />DÉCIMA: <strong>Causas de terminación del contrato antes del vencimiento del plazo</strong>.- El arrendador podrá dar por terminado este contrato antes del vencimiento del plazo, a más de las causales que contempla la actual ley de inquilinato, por las siguientes razones:<br /><br />a) Falta de pago de dos mensualidades.<br />b) Modificación del local sin permiso del arrendador.<br />c) Cambio de destinación del local.<br />d) Subarrendamiento u otro modo de cesión de derechos.<br />e) Infringimiento de la prohibición de introducir materiales que ponen en peligro el inmueble<br />f) Ejercitar actividades que perturben la paz y tranquilidad.<br /><br />UNDÉCIMA: <strong>Domicilio, Jurisdicción y Competencia</strong>.- Ambas partes contratantes dejan constancia expresa de que se someten a la jurisdicción y competencia de los jueces del cantón Atacames para resolver toda divergencia o juicio que pudiese resultar de este contrato, en la vía verbal sumaria y señalan como domicilio la ciudad de Atacames.<br /><br />Para constancia de las estipulaciones que anteceden firman en este contrato por triplicado en</p>
<p>Atacames el [fecha_long]<br /><br /><br /><br /><br /><br /><br /></p>
<table border="0" width="100%">
    <tbody>
    <tr>
        <td>________________________ <br />[inq_nombreapellido] (Arrendatario)<br />C.I.: [inq_ci]</td>
        <td>__________________________ <br />Nikolai Plath (Arrendador) <br />C.I.: 080202986-8</td>
    </tr>
    </tbody>
</table>
